.html1 {
    background-color: rgb(65, 153, 140);
}

.div1 {
    border-radius: 13px;
    text-align: center;
    margin: auto;
}

.div1>p>a>input {
    border-radius: 13px;
    background-color: rgb(154, 182, 242);
}

.h01 {
    border-radius: 13px;
    background-color: rgb(197, 157, 151);
    text-align: center;
    width: 90%;
}

.h02 {
    border-radius: 13px;
    background-color: rgb(197, 157, 151);
    text-align: center;
    width: 90%;
}


.div2 {
    border-radius: 13px;
    text-align: center;
    margin: auto;
}

.div2>span>input {
    border-radius: 13px;
    background-color: rgb(154, 182, 242);
}

@media (max-width: 768px) {/*スマートフォン*/
    .h01,
    .h02 {
        margin: 150px auto 0;
        font-size: 43px;
    }

    .div1>p>a>input {
        margin-top: 50px;
        font-size: 30px;
    }

    .p01 {
        font-size: 25px;
        margin-left: 7%;
    }

    .div2>span>input {
        margin: 7px;
        font-size: 25px;

    }

    #id1 {
        border-radius: 15px;
        right: 8%;
        position: fixed;
        font-size: 25px;
    }

}

@media screen and (max-width: 996px) {/*パソコン*/


}